# manual commands to set ~/.gitconfig
# git config --global user.name "Kam Lagan"
# git config --global --add user.email "github@lagan.me"

[includeIf "gitdir:~/source/client/"]
  path = ~/.gitconfig.client

[includeIf "gitdir:~/source/github/"]
  path = ~/.gitconfig.github
